
# IDE
# debug
# dependencies
# local env files
# misc
# next.js
# production
# testing
*.pem
*.swo
*.swp
.DS_Store
.env
.env.*.local
.env.local
.idea
.next/
.pnp.js
.vscode
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
